<div class="text-center">
    <br />
    <h1><strong>Nossa! Algo de estranho aconteceu :-(</strong></h1>
    <br />
    <p>
        <h3>
            Verifique as informações e tente novamente!
        </h3>
    </p>
    <img src="~/images/page404b.gif" alt="Página Não Encontrada">
    <p>
</div>