<div class="text-center">
    <br />
    <h1><strong>Informação não Localizada :-(</strong></h1>
    <br />
    <p>
        <h3>
            Certifique-se desta operação e tente novamente :-)
        </h3>
    </p>
    <img src="~/images/nodatafound.jpg" width="480" height="307" alt="Informação não Encontrada">
    <p>
</div>