@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />
<p class="text-justify">
    A nossa politica de dados tem o intuito de manter a privacidade e a segurança das informações coletadas de nossos clientes e usuários.

    Compreende a forma como as informações capazes de identificar nossos clientes e usuários são armazenadas e utilizadas, sejam as coletadas diretamente em nosso site, consultas ao serviço de atendimento ao cliente ou cadastro para recebimento de promoções ou newsletter.
    As informações de contato dos clientes e usuários poderão ser utilizados para campanhas publicitárias da GestorAutonomo, que enviará informações sobre a empresa, através de mensagens publicitárias como promoções, dicas, divulgação de parceiros e clientes que possam agregar algum valor ou interesse aos nossos assinantes.
    Em nenhum momento iremos divulgar ou comercializar informações pessoais ou dados cadastrais de seus clientes e usuários a terceiros.
</p>
<br />
<br />
<br />


<h1>Politica de Cookies</h1>
<br />
<h2>O que é um cookie?</h2>

<p class="text-justify">
    Um cookie é um dado que o website solicita ao seu navegador para armazenar no seu computador ou dispositivo móvel. O cookie permite que o website “lembre” suas ações ou preferências ao longo do tempo.
</p>

<p class="text-justify">
    A maioria dos navegadores da Internet aceitam cookies; entretanto, os usuários podem configurar seus navegadores para recusar certos tipos de cookies ou cookies específicos. Além disso, os usuários podem apagar os cookies a qualquer momento.
</p>

<p>
    <br />
    <h2>
        Por que usamos cookies?
    </h2>

</p>
<p class="text-justify">
    Usamos cookies para aprender como você interage com o nosso conteúdo e para melhorar sua experiência ao visitar o nosso website. Por exemplo, alguns cookies lembram o seu idioma ou preferências para que você não tenha que efetuar estas escolhas repetidamente sempre que visitar um dos nossos websites. Também usamos cookies para ajudar com rastreamento de geolocalização, de modo a apresentar o modelo mais próximo de você. Além disso, os cookies permitem que ofereçamos um conteúdo específico, tais como vídeos no(s) nosso(s) website(s). Podemos empregar o que aprendemos sobre o seu comportamento no(s) nosso(s) website(s) para oferecer anúncios direcionados em website(s) de terceiros em um esforço para “reapresentar” nossos produtos e serviços para você.
</p>
