@{
    var pesquisa = Context.Request.Query["pesquisa"];
}


<form method="get">
    <div class="row">
        <div class="col-9 form-group">
            <input type="Text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="@ViewBag._placeholder">
        </div>

        <div class="col-3 px-3 text-right justify-content-end">

            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i> Pesquisar</button>
            
            @if (!String.IsNullOrEmpty(ViewBag._aspaction))
            {
            <a asp-action="@ViewBag._aspaction" class="btn btn-outline-success"><i class="fas fa-file-upload"></i> Cadastrar</a>
            }

        </div>

    </div>
</form>