
<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <h1 class="text-info font-weight-bold text-monospace text-center">@ViewBag.Crud.Titulo</h1>

    <h4 class="text-secondary">@ViewBag.Crud.SubTitulo</h4>
    <h6 class="text-secondary">@ViewBag.Crud.Descricao</h6>
</div>
